/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

/public/build
/public/build/rev-manifest.json
/public/css
/public/js/
/public/images
/public/fonts
/resources/assets/css/app.css
/resources/assets/css/app.css.map
/storage/*.key
/storage/app/public
/nbproject
*.lock
/composer.lock
public/videos/
*.map
